/* Tag Element based Selection */

/* h1{
    background-color: plum;
}
ul{
    background-color: aquamarine;
} */


/* id based selection */

/* #first{
    background-color: blue;
}
#second{
    background-color: brown;
} */


/* class based selection */

/* .third{
    background-color: greenyellow;
}
.fourth{
    background-color: goldenrod
} */


/* group based selection */

/* h1, .fourth, #first{
    background-color: aqua;
} */



/* h1{
    background-color: rgba(127, 208, 255, 0.708);  
} */

/*rgb - red(0-255) green(0-255) blue(0-255) 
each one consumes 8 bits total three of them consumes 24bits/3bytes 
fourth value represents transparency
*/



/* h2{
    background-color: hsla(120, 50%, 50%,0.6);
} */

/* 
background-color: hsl(120, 50%, 50%);
hsl(hue, saturation, lightness);
hue:pure color(0-360) 0-red, 120-green, 240-blue
saturation:intensity 0-100%
brightness: 0%-black, 50%-normal, 100%-white
hsla(hue, saturation, lightness, alpha);
alpha: transperancy (0-1)
*/



/* hexadecimal form */
/*  
    first 2 numbers-red
    second 2 numbers-green
    third 2 numbers-blue
*/

/* h1{
    background-color: #642484;
} */





/* font size */
/* px- picture element */
h1{
    font-size: 50px;
}

ul{
    font-size: 20px;
}
/* li{
    font-size: 2em;
} */

html{
    font-size: 40px;
}
/* h2{
    font-size: 2rem;
} */
 /* h2{
    font-size: 2vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-style: italic;
 } */
li{
    /* font-size: 3vh; */
    font-size: 50%;
}
h2{
    font-family: "Sirivennela", sans-serif;
    font-weight: 400;
    font-style: normal;
}
